/***** BASE STYLES *****/

body {   
    color: #2b2b2b;	
    font-family: 'Source Sans Pro', sans-serif;  
}

#about, #work, #contact {
    height: 600px;
}


/***** GRID *****/

.full-width {
    margin: 0 auto;
    width: 1200px;
}

.half-width {
    float: left;
    width: 600px;  
}

.third-width {
    float: left;
    width: 400px; 
}


/****** HEADER ********/

header {
    background: url('../img/full-background.png');
    background-size: cover;
    height: 800px;
}

header h1 { 
    color: #bbc085;
    font-family: Lora;
    font-size: 30px;
    padding: 65px 0 65px 25px;
}

nav {
    float: right; 
    padding: 75px 25px;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    color: #a5a5a5;
    font-size: 18px;
    padding-left: 80px; 
    text-transform: uppercase;
    text-decoration: none;
}

header h2 {
    color: #9b9b9b;
    clear: left;
    font-family: Lora;
    font-size: 72px;
    line-height: 80px;
    padding: 20px 0 20px 25px;
    width: 1000px;
}

header h2 span {
    color: #2b2b2b;
}

/****** ABOUT SECTION ******/

#about .full-width {
    padding: 80px 0;
}

#about h2 {
    font-family: Lora;
    font-size: 36px;
    padding-left: 50px;
}
 
#about p {
    color: #7f7f7f;
    font-size: 21px;
    line-height: 40px;
    padding-left: 50px;
    padding-right: 50px;
}


/****** WORK SECTION ******/

#work {
    background-color: #f9ceb7;
    text-align: center;
}

#work .full-width {
    padding: 115px 0;
}
 
#work img {
    padding-bottom: 30px;
}

#work h3 {
    font-size: 24px;
    line-height: 32px;
    margin: 0 auto;
    width: 190px;
}
 
#work p {
    font-family: Lora;
    font-size: 18px;
    line-height: 30px;
    padding: 0 50px;
}


/****** CONTACT SECTION ******/

#contact {
    background-color: #ebebeb;
}

#contact .full-width {
    padding: 110px 0;
}

#contact img#contact-img {
    border: 12px solid #ffffff;
    margin-left: 25px;
}

#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
    padding-left: 115px;
}
#contact #envelope {
    padding: 0 10px 0 115px;
}

#contact h2 {
    font-family: Lora;
    font-size: 36px;
    line-height: 44px;
}

#contact #email-header{
    font-size: 32px;
    font-weight: normal;
    line-height: 44px;
    margin: -30px 0 5px 0;
}

#contact #socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    line-height: 44px;
    margin: 40px 0 0 0;
}

#contact a {
    color: #c49075;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
}

#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    font-size: 32px;
    padding-right: 48px;
}